* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-fon-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
:root {
	font-size: 62.5%;
	--header-height: 7.2rem;
	/* HSL color mode */
	--hue: 159;
	--base-color: hsl(var(--hue) 36% 57%);
	--base-color-second: hsl(var(--hue) 65% 88%);
	--base-color-alt: hsl(var(--hue) 57% 53%);
	--title-color: hsl(var(--hue) 41% 10%);
	--text-color: hsl(0 0% 46%);
	--text-color-light: hsl(0 0% 98%);
	--body-color: hsl(0 0% 98%);
}
a {
	text-decoration: none;
}
img {
	width: 100%;
	height: auto;
}

/* ============BASE================ */
body {
	font-size: 1.6rem;
	font-family: 'DM Sans', sans-serif;
	font-weight: 400;
	color: var(--text-color);
	background: var(--body-color);
}
h1 {
	font: 700 3rem 'Poppins', sans-serif;
	color: var(--title-color);
}
.button {
	background-color: var(--base-color);
	color: var(--text-color-light);
	height: 5.6rem;
	display: inline-flex;
	align-items: center;
	padding: 0 3.2rem;
	border-radius: 0.4rem;
	font: 500 1.6rem 'DM Sans', sans-serif;
	transition: background 0.3s;
}

.button:hover {
	background: var(--base-color-alt);
}

.divider-1 {
	height: 3px;
	background: linear-gradient(
		270deg,
		hsla(var(--hue), 36%, 57%, 1) 0%,
		hsla(var(--hue), 65%, 88%, 0.34) 100%
	);
}

/* ===========LAYOUT=============== */
.container {
	margin-left: 2.4rem;
	margin-right: 2.4rem;
}
.grid {
	display: grid;
	gap: 3.2rem;
}
.section {
	padding: 8rem 0;
}
#header {
	border-bottom: 1px solid #e4e4e4;
	margin-bottom: 3.2rem;
	display: flex;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	background-color: var(--body-color);
}
nav {
	height: var(--header-height);
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.logo {
	font: 700 2.1rem 'poppins', sans-serif;
	color: var(--title-color);
}
.logo span {
	color: var(--base-color);
}
main {
	margin-top: var(--header-height);
}

/* ============ HOME =========== */
#home {
	overflow: hidden;
}
#home .container {
	margin: 0;
}
#home .image {
	position: relative;
}
#home .image::before {
	content: '';
	height: 100%;
	width: 100%;
	background: var(--base-color-second);
	position: absolute;
	top: -16.8%;
	left: 16.8%;
	z-index: 0;
}
#home .image img {
	position: relative;
	right: 4.7rem;
}
#home .image img,
#home .image::before {
	border-radius: 0.4rem;
}

#home .text {
	margin-left: 2.4rem;
	margin-right: 2.4rem;
	text-align: center;
}
#home .text h1 {
	margin-bottom: 1.6rem;
}
#home .text p {
	margin-bottom: 3.2rem;
	max-width: 100%;
}
